h2
{
    border-style: double;
    background-color:#282A35;
    border-radius: 25px;
    width:200px;
    margin: auto;
    text-decoration:underline;
    text-transform: capitalize;
    text-align: center;
    margin-top: 50px;
    padding: 10px 20px 10px 10px;
    color: rgb(232, 237, 241);
    padding-inline:10px 10px 10px 10px;
    
    

}

h2:hover{
    background-color: darkslategray;
    cursor: pointer;
    color:whitesmoke;
    text-transform: uppercase;
    
}

p{
    box-sizing: border-box;
    background-color: lightslategray;
    border-radius: 0;
    border: solid;
    text-align: justify;
    font-size: 30px;
    margin-top: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-weight: bold;
    color:lightcoral;
    padding:10px 10px;
}


h4{

font: icon;
font-size: 20px;
font-family: cursive;
font-style: inherit;
opacity: 0.5;
text-align:justify;
color:lightcoral;
background-color: lightgrey;
margin-top: 60px;
padding:20px;
margin-top: 60px;

}

h4:hover{
    opacity: 1;
    background-color:#423B31;
    cursor: progress;
    color:azure;
    font-style: normal;
    font-size: 30px;
    
}


body{
    margin:0px;
    padding: 0px;
    background-color: #423B31;
}

h3{
    text-align: center;
    color:tomato;
    font-family: cursive;
    font-size: 28px;
    
}

b{
    font-family: cursive;
    color:yellowgreen;


}
b:hover{
    color:violet;
    cursor: grabbing;
}

